import("methods")
importFrom("utils", "capture.output", "installed.packages")
importFrom("stats", "setNames")
importFrom("httr", "GET", "POST", "content", "add_headers", "verbose", "config")
importFrom("jsonlite", "fromJSON")
importFrom("Hmisc", "cut2")
importFrom("GenomicFeatures", "transcripts")
importFrom("txdbmaker", "makeTxDb")
import("sqldf")
import("S4Vectors")
importFrom("plyr", "rbind.fill")
exportClasses("MyGene")
export("MyGene")
export("getGene")
export("getGenes")
export("query")
export("queryMany")
export("makeTxDbFromMyGene")
exportMethods("metadata")
